html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

header {

}

footer {
  display: flex;
  margin: 1rem;
}

.contact {
  flex: 1 0 0;

  ul li {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 0.5rem;
  }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.description {
  font-size: modular-scale(1.3);
  font-variant-numeric: oldstyle-nums;
  position: absolute;
  bottom: 5%;
  left: 15%;
  color: #fff;

  // Smart arse animation
  // opacity: 0;
  // animation: 10s ease-out fadeout;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  filter: blur(5px);
  opacity: 0.7;
  position: fixed;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100vh;

}

.thumbnails {
  @extend .description;
  left: 75%;

  a {
    font-size: inherit;
    color: #fff;
    text-decoration: none;
  }
}

.copyright {
  align-content: flex-end;
}

.custom-grid--thirds {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 2rem;
}

.custom-grid--single {
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    max-height: 100vh;
    max-width: 100vw;
  }
}

.header--container{
  text-align: center;
  margin: 1rem;
}

.single-column {
  flex: 1 100%;
  // margin: 1rem;
  a {
    padding: 0;
    display: inline-block;
  }
}

@media all and (min-width: 800px) {
  .single-column {
    justify-content: space-between;
    flex: 0 0 30%; 
    margin: 0 1rem 1rem 1rem;
  }
}

.controls {
  a {
    font-size: modular-scale(4);
    text-decoration: none;
    color: #efe;
  }
  position: fixed;
  top: 50%;
  margin: 0 2rem; 
  width: 8em;  
}

#left {
  @extend .controls; 
    left: 0;
}
#right {
  @extend .controls;
    right: 0;
    text-align: right;
}