html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}

header {
  text-align: center;
  margin: 2rem;
}

footer {
  display: flex;
  margin: 1rem;
}

h1, h2, h3 {
  a {
    text-decoration: none;
  }
}

.contact {
  flex: 1 0 0;

  ul li {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 0.5rem;
  }
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  filter: blur(5px);
  opacity: 0.7;
  position: fixed;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100vh;

}

.description {
  background-color: #333;
  font-size: modular-scale(1.3);
  font-variant-numeric: oldstyle-nums;
  position: absolute;
  padding: 0 0.5rem;
  bottom: 5%;
  left: 15%;
  color: #fff;
}


.thumbnails {
  @extend .description;
  left: 75%;

  a {
    font-size: inherit;
    color: #fff;
    text-decoration: none;
  }
}

.copyright {
  align-content: flex-end;
}

.custom-grid--thirds {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 2rem;
}

.custom-grid--single {
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    max-height: 100vh;
    max-width: 100vw;
  }
}

.text {
  margin: 2rem auto;
  max-width: 60rem;
}

$break-medium: 800px;
$break-large: 1680px;

.single-column {
  flex: 1 100%;
  // required to make images play right inside the A somehow
  display: inline-flex;
  padding: 1rem;

  a {
    margin: 0;
    padding: 0;
  }  
  
  @media all and (min-width: $break-medium) {
    justify-content: space-between;
    flex: 0 0 50%; 
  }
  @media all and (min-width: $break-large) {
    flex: 0 0 33.33%;  
  }
}

.controls {
  a {
    font-size: modular-scale(4);
    text-decoration: none;
    color: #efe;
  }
  position: fixed;
  top: 50%;
  margin: 0 2rem; 
  width: 8em;  
}

#left {
  @extend .controls; 
    left: 0;
}
#right {
  @extend .controls;
    right: 0;
    text-align: right;
}