figure {
  margin: 0;
  float: right;
  max-width: 50%;
  padding: 0.5rem 0 2rem 1rem;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  // required to get rid of the annoying unwanted pseudo-padding when inside an a block
  display: block;
}
