figure {
  margin: 0;
  @media all and (min-width: $break-medium) {
    max-width: 50%;
    float: right;
  }
  padding: 1rem;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  // required to get rid of the annoying unwanted pseudo-padding when inside an a block
  display: block;
}
