// Typography
$sans-serif-font-family: "Avenir Next", $font-stack-system;
$serif-font-family: $font-stack-garamond;
$heading-font-family: $sans-serif-font-family;
$base-size:modular-scale(1);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 2em;
$small-spacing: $base-spacing / 2;
$smaller-spacing: $base-spacing / 3;
$base-z-index: 0;

// Colors
$blue: hsl(212, 89%, 42%);
$dark-grey: rgb(51, 48, 0);
$medium-grey: #999;
$light-grey: #ddd;
$base-font-colour: $light-grey;
$action-colour: #fa0404;

// Border
$base-border-colour: $light-grey;
$base-border: 1px solid $base-border-colour;

// Background Colors
$viewport-background-colour: hsl(0, 0%, 18%);

// Focus
$focus-outline-colour: transparentize($action-colour, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-colour;
$focus-outline-offset: 2px;

// Animations
$base-duration: 450ms;
$base-timing: ease-out;

// Breakpoints
$break-medium: 768px;
$break-large: 1400px;