%footer
  .contact
    %ul
      %li
        =link_to "Twitter", "https://twitter.com/iNerdier", target: "blank"
      %li
        =mail_to "hello@gtownshend.com"
      %li
        =tel_to "07891 028 519"
  .copyright
    © Gilbert Townshend
    = Date.today.year