%footer
  .contact
    %ul
      %li
        =link_to "Blue Sky", "https://bsky.app/profile/gtownshend.bsky.social", target: "blank"
      %li
        =mail_to "hello@gtownshend.com"
      %li
        =tel_to "07891 028 519"
      %li
        =link_to "Newsletter", "https://mindfluff.substack.com", target: "blank"
  %span#copyright
    Gilbert Townshend © 
    = Date.today.year