%header
  %h1 Gilbert Townshend
  %ul
    %li
      %h2
        = link_to "About", "text/bio"
    %li
      %h2
        = link_to "Projects", "text/projects"
  
.custom-grid--thirds
  -data.portfolio.image_list.each do |image|
    .single-column
      =link_to image_tag(image[:image_name] + ".jpg", resize: '800x800'), "/shots/" + image[:image_name]