%header
  %h1 Gilbert Townshend
  %h2
    = link_to "About", "text/bio"
  %h2
    = link_to "Projects", "text/projects"

.custom-grid--thirds
  -data.portfolio.image_list.each do |image|
    .single-column
      =link_to image_tag("assets/images/thumbnails/" + image[:image_name] + "_tn.jpg"), "/shots/" + image[:image_name]

= partial "partials/footer"